[common]
Title=Alien Shooter Map Editor
RegPath=HKEY_CURRENT_USER\SOFTWARE\Sigma Team\Alien Shooter Map Editor
DefaultSave=    ;default save path

[graph]
DefaultScreenX=640
DefaultScreenY=480
DefaultFullScreenMode=1
DefaultColorBPP=32
Font=Courier New
;Font=MS Sans Serif
FontSizeX=7
FontSizeY=8
VSync=0

[game]
StartMap=maps\new.map
DrawFPS=1
Resource=objects.res
StartDialog=1
StartDialogIsFull=1
DebugMode=1
